.map_window {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgb(255, 255, 255);
  z-index: 5;
}

.map_hide {
  z-index: -35;
}

.map_content {
  position: absolute;
  top: 240px;
  left: 200px;
  width: 1350px;
  height: 800px;
  overflow: clip;
  border-radius: 10px;
}

.map_content p {
  color: white;
  font-family: "Dimenze-Regular";
  font-size: 48px;
}

.vida_map {
  position: absolute;
  left: -120px;
  width: 1600px;
  border-radius: 10px;
}

.map_background {
  position: absolute;
  width: 1920px;
  height: 1080px;
  background-color: rgba(0, 0, 0, 0.264);
}

.map-active_btn-background {
  position: absolute;
  top: 910px;
  right: -5px;
  width: 160px;
  height: 160px;
  filter: blur(25px);
  border-radius: 150px;
}

.map_arrow {
  position: absolute;
  z-index: 9999;
}
